<!DOCTYPE html>
<html data-ng-app="MentalHealthDashboard">
  <head>
    <meta charset="utf-8">
    <title>Mental Health Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="static/css/custom.css">
      <link rel="stylesheet" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

  </head>
  <body>

   <script data-require="jquery@*" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

   <script src="static/js/angular.js"></script>
   <script src="static/js/angular-route.min.js"></script>
   <script src="static/js/angular-animate.min.js"></script>
   <script src="static/js/angular-touch.min.js"></script>
   <script src="static/js/angular-cookies.js"></script>

  <script src="static/js/app.js"></script>
  <script src ="static/js/router.js"></script>
  <script src ="static/controllers/loginController.js"></script>
   <script src ="static/controllers/homeController.js"></script>
   <script src ="static/controllers/riskController.js"></script>
  <script src ="static/controllers/articlesController.js"></script>
   <script src ="static/controllers/sleepController.js"></script>
   <script src ="static/controllers/displaySleepController.js"></script>
   <script src ="static/controllers/bloodpController.js"></script>
   <script src ="static/controllers/displayBloodPController.js"></script>
   <script src ="static/controllers/exerciseController.js"></script>
   <script src ="static/controllers/displayExerciseController.js"></script>



   <script src="https://kit.fontawesome.com/362565ebb5.js" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <script data-require="moment.js@*" data-semver="2.14.1" src="https://npmcdn.com/moment@2.14.1"></script>


   <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
   <script src="static/js/angular-datatables.min.js"></script>

   <div ng-view></div>
  </body>
</html>
